<div class="header-text">
  <h3>
    <strong>DealAlert's features</strong>
  </h3>
</div>


<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your own wishlists
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Accessible through navigation panel at the top of every page, your list of currently
        desired items </p>
  </mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Price History Charts
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Price history charts are another major part of dealalert. Graphs of the price
        variations over time are available through wishlist by clicking appropriate icon.
        Price and availability data is updated from Amazon constantly to ensure it is as accurate as possible, but should always 
        be checked on Amazon before making a purchase.</p>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Price Drop Alerts
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>The primary feature of our site is the sending of email alerts when prices change.
         While in wishlist page, the user simply sets a price threshold at which alerts are generated,
          and we email you when that condition is met.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Simple product search
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Search is accessed via the box at the top of browse page.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Safe registration
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>If you do choose to sign up or receive email alerts, we will not sell or distribute your information
         to anyone without your consent.</p>
  </mat-expansion-panel>